<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Array sorting reports</title>
    <script src='../libs/chart.js'></script>
    <script>
        var obj = JSON.parse('$data');
        setNotations(obj);
        function createCharts() {
            for(var len in obj) {
                var ctx = document.getElementById('chart' + len);
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: Object.keys(obj[len]),
                        datasets: [{
                            label: "Time " + (len >= 1e4 ? " ms" : " ns"),
                            backgroundColor: 'rgba(200, 50, 50, 0.8)',
                            data: Object.values(obj[len]),
                            borderWidth: 0
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Test size ' + len + " (" + (len >= 1e4 ? "ms" : "ns") + ")"
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Sort type'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: (len >= 1e4 ? "Milliseconds" : "Nanoseconds")
                                },
                                ticks: {
                                    beginAtZero: true,
                                }
                            }]
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }
        function setNotations(obj) {
            Object.keys(obj).forEach(function (currentSize) {
                Object.keys(obj[currentSize]).forEach(function (sortType) {
                    obj[currentSize][sortType] /= currentSize >= 1e4 ? 1e6 : 1;
                });
            });
        }
        function renderCharts() {
            for(var len in obj) {
                document.getElementById("container").innerHTML +=
                    "<div class=\"main_chart\">" +
                    "     <canvas id='chart" + len + "'/>" +
                    "</div>";
            }
            createCharts()
        }
    </script>
    <style>
        html {
            padding: 50px;
        }
        .main_chart {
            width: 550px;
            height: 500px;
            margin: 10px;
            position: relative;
            display: inline-block;
        }
    </style>
</head>
<body onload='renderCharts()'>
    <div id="container"></div>
</body>
</html>