<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Array sorting reports</title>
    <script src='../libs/chart.js'></script>
    <script>
        var obj = JSON.parse('$data');
        obj = mutate(obj);
        function createCharts() {
            for(var sortType in obj) {
                var ctx = document.getElementById('chart' + sortType);
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Object.keys(obj[sortType]),
                        datasets: [{
                            data: Object.values(obj[sortType]),
                            borderColor: 'rgba(200, 50, 50, 0.9)',
                            backgroundColor: 'rgba(230, 100, 100, 0.1)',
                            borderWidth: 0
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: sortType
                        },
                        legend: {
                            display: false
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }
        function renderCharts() {
            for(var len in obj) {
                document.getElementById("container").innerHTML +=
                    "<div class=\"main_chart\">" +
                    "     <canvas id='chart" + len + "'/>" +
                    "</div>";
            }
            createCharts();
        }
        function mutate(object) {
            var newObj = {};
            Object.keys(object).forEach(currentLen => {
                Object.keys(object[currentLen]).forEach(sortType => {
                    if(newObj[sortType] === undefined) {
                        newObj[sortType] = {};
                    }
                    if(newObj[sortType][currentLen] === undefined) {
                        newObj[sortType][currentLen] = object[currentLen][sortType] * (currentLen >= 1e4 ? 1e6 : 1);
                    }
                    else {
                        newObj[sortType][currentLen] += object[currentLen][sortType] * (currentLen >= 1e4 ? 1e6 : 1);
                    }
                });
            });
            return newObj;
        }
    </script>
    <style>
        html {
            padding: 50px;
        }
        .main_chart {
            width: 550px;
            height: 500px;
            margin: 10px;
            position: relative;
            display: inline-block;
        }
    </style>
</head>
<body onload='renderCharts()'>
<div id="container"></div>
</body>
</html>